.container {
  position: absolute;
  inset: 0px;
}
img {
  width: 200px;
  display: block;
  margin: auto;
}

.padding-top-24 {
  padding-top: 24px;
}

.header {
  margin: 0 20px;
}


.reactome {
  font-weight: 400;
}

