img {
  width: 200px;
  display: block;
  margin: auto;
}

.padding-top-24 {
  padding-top: 24px;
}

.header {
  margin: 0 20px;
}

.dark {
  img[src*="assets/img/Reactome_GSA_light.svg"] {
    content: url("../assets/img/Reactome_GSA_dark.svg");
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  gsa-form {
    flex: 1 1 auto;
  }
}

.reactome {
  font-weight: 400;
}

