svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: var(--surface);
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  img[src*="assets/img/Reactome_GSA_light.svg"] {
    content: url("../assets/img/Reactome_GSA_dark.svg");
  }
}
