<div class="container flex vertical ">
  <header class="header flex-container justify-between align-center">

    <a href="/" mat-button class="reactome" #reactome>
      <mat-icon class="primary-color">home</mat-icon>
      Reactome
    </a>

    <a [routerLink]="'home'" class="home-link">
      <img [src]="dark.isDark ?'assets/img/Reactome_GSA_dark.svg' :'assets/img/Reactome_GSA_light.svg'">
      <h1 class="no-margin">Reactome GSA</h1>
    </a>


    <span [style.width]="reactome._elementRef.nativeElement.offsetWidth + 'px'" style="text-align: end">
      <mat-slide-toggle #darkToggle [(ngModel)]="dark.isDark" class="primary-color"></mat-slide-toggle>
    </span>

  </header>

  <gsa-background></gsa-background>
  <div class="flex vertical flex-one">
    <router-outlet></router-outlet>
  </div>

</div>

