.hover-opponent {
  color: var(--primary);
  padding: 10px;
  margin: 3px !important;
  border-radius: 10px;
  border: 2px solid var(--primary);
}

.invisible {
  visibility: hidden;
  height: 0;
  max-height: 0;
}

.visible {
  visibility: visible;
  height: fit-content;
  max-height: fit-content;
}
