<div #root class="table-container flex horizontal relative in-front width-hundred" (blur)="deselect()">
  <input #flyingRename (change)="renameCell()"
         (blur)="blurInput()" (copy)="copyValues()"
         (focus)="renameVisible = true"
         (keydown.backspace)="deleteSelectedArea()" (keydown.delete)="deleteSelectedArea()"
         (mouseup)="mouseup()" (paste)="pasteValues($event)"
         [(ngModel)]="value"
         *ngIf="startCell$ | async as start"
         (keydown)="navigateTable($event)"

         [ngStyle]="{'left': start.x + 'px', 'top': start.y+ 'px', 'height': start.height+ 'px', 'width': start.width + 'px'}"

         [ngClass]="{'visible': inputVisible$ | async}"
         class="flying-rename">
  <table (mousedown)="mousedown($event)" (mouseover)="mousemove($event)" (mouseup)="mouseup()"
         (keydown)="navigateTable($event)"
         class="relative align-center width-hundred"
         *ngIf="data$ | async as data">
    <tr *ngFor="let row of data; let y = index">
      <!-- HEADER -->
      <ng-container *ngIf="y === 0 && settings.showCols">
        <ng-container *ngFor="let cell of row; let x = index">
          <th [attr.x]="x" [attr.y]="y" class="columns" [ngClass]="{'selected': cell.selected}">
            <div [attr.x]="x" [attr.y]="y" class="flex horizontal align-center justify-between">
              {{cell.value}}
              <button (click)="deleteColumn($event, x)" [attr.addCol]="true" class="bin-button" color="primary"
                      mat-icon-button>
                <span class="material-icons">delete</span>
              </button>
            </div>
          </th>

        </ng-container>
        <td *ngIf="settings.addColumnButton" class="no-padding add-column-button-container" height="100px"
            rowspan="0">
          <button #addCol (click)="addColumn()" (keydown.shift.tab)="focusLastCell($event)"
                  class="add-column-button flex-container align-start" color="primary"
                  mat-stroked-button>
            <span class="sticky">Add column</span>
          </button>
        </td>
      </ng-container>
      <!-- BODY -->
      <ng-container *ngIf="y !==0">
        <ng-container *ngFor="let cell of row; let x = index">
          <th *ngIf="x === 0 && settings.showRows" [attr.x]="x" [attr.y]="y"
              [ngClass]="{'selected': cell.selected}"
              class="border-right rows">{{cell.value}}</th>
          <td *ngIf="x !== 0" [attr.x]="x" [attr.y]="y"
              [ngClass]="{'selected': cell.selected}"
          >{{cell.value}}</td>
        </ng-container>
      </ng-container>
    </tr>
  </table>
</div>
