@font-face {
  font-family: "Roboto Mono";
  src: url("~src/assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}



.table-container {
  overflow: auto;
  //max-height: 20vh;

  //border: 1px solid var(--outline);

  //justify-content: safe center;
}

table.spreadsheet {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  //border-collapse: collapse;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 128.571% */
  letter-spacing: normal;
  white-space: nowrap;

  th.rows, th.columns {
    position: sticky;
    white-space: nowrap;
  }

  td.cell, th.rows, th.columns {
    border-color: var(--outline-variant);
    border-style: solid;
  }

  th.columns, td.add-column-button-container {
    top: 0;
    border-width: 1px 1px 1px 0;
    border-color: var(--primary);

    &:nth-child(2) {
      border-width: 1px 1px 1px 1px;
    }
  }

  th.rows {
    left: 0;
    height: 23px;
    border-width: 0 1px 1px 1px;
    &[y='0'] { // Top left corner
      z-index: 6;
      top: 0;
      border-width: 1px 1px 1px 1px;
      * {
        visibility: hidden;
      }
    }
  }

  td.cell {
    border-width: 0 1px 1px 0;
    position: relative;
  }
}



.no-padding {
  padding: 0px;
}

.add-column-button-container {
  //width: 100px;
  height: 100px;
  max-width: 5%;
}

.add-row-button-container {
  height: 50px;
  max-height: 5%;
}

.sticky {
  height: 10px;
  position: sticky;
  bottom: calc(50% - 10px);
  top: calc(50% - 10px);
}

.add-column-button {
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 0px;
}

.add-column-button:focus-visible {
  border: 2px solid var(--primary) !important;
}


.bin-button:focus-visible {
  outline: none !important;
}

.cell {
  padding: 0.25em 10px;
  z-index: 1;
  background-color: var(--surface);
  color: var(--on-surface);
}

.rows {
  z-index: 5;
  padding: 0 4px;
  font-weight: normal;
  font-size: 12px;
  text-align: end;
  color: var(--on-surface-variant);
  background: var(--surface-variant);
}

.columns {
  z-index: 3;
  text-align: left;
  padding: 0 10px;
  font-weight: 700;
  color: var(--on-primary-container);
  background: var(--primary-container);
}

.delete-col-button {
  height: 25px;
  width: 25px;
}

.selected:after, .flying-rename:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary);
  filter: opacity(0.07);
  pointer-events: none;
}

.flying-rename {
  position: absolute;
  visibility: hidden;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 18px;
  border: none;
  margin: 0;
  white-space: normal;
  letter-spacing: normal;

  &.visible {
    box-shadow: 0 0 0 1px var(--primary) inset, 0 0 0 1px var(--primary);
    visibility: visible;
  }
}


:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}
