<div #root class="table-container flex horizontal relative background-white in-front">
  <table (keydown)="navigateTableDefault()" (mousedown)="mousedown($event)" (mouseover)="mousemove($event)"
         (mouseup)="mouseup()" class="relative align-center background-white">
    <thead *ngIf="settings.showCols">
    <tr>
      <th class="in-front"></th>
      <th *ngFor="let col of settings.columns; let x = index" [attr.x]="x" [attr.y]="-1" class="columns">
        <div [attr.x]="x" [attr.y]="-1" class="flex horizontal align-center justify-between">
          {{col}}
          <button (click)="deleteColumn($event, x)" [attr.addCol]="true" class="bin-button" color="primary"
                  mat-icon-button>
            <span class="material-icons">delete</span>
          </button>
        </div>
      </th>
      <th *ngIf="settings.addColumnButton" class="background-white no-border"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of settings.rows; let y = index">
      <th *ngIf="settings.showRows" [attr.x]="-1" [attr.y]="y" class="rows">{{row}}</th>
      <td *ngFor="let rowVal of settings.data[y]; let x = index" [attr.x]="x" [attr.y]="y">
        {{rowVal.value}}
      </td>
      <td *ngIf="y===0 && settings.addColumnButton" class="no-padding" height="100px" rowspan="0">
        <button #addCol (click)="addColumn()" class="add-column-button" color="primary"
                mat-stroked-button>
          Add column
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <input #flyingRename (blur)="renameCell()" (change)="renameCell()" (copy)="copyValues()"
         (keydown.arrowDown)="navigateTableInput($event)" (keydown.arrowLeft)="navigateTableInput($event)"
         (keydown.arrowRight)="navigateTableInput($event)"
         (keydown.arrowUp)="navigateTableInput($event)" (keydown.delete)="deleteSelectedArea()"
         (keydown.enter)="navigateTableInput($event)" (keydown.shift.tab)="navigateTableInput($event)"
         (keydown.tab)="navigateTableInput($event)"
         (mouseover)="mousemove($event)" (mouseup)="mouseup()"
         (paste)="pasteValues($event)"
         *ngIf="renameVisible" [(ngModel)]="renameValue"
         [ngModelOptions]="{standalone: true}" [style.height.px]="firstSelected.coordinate.height - 1"
         [style.left.px]="firstSelected.coordinate.x" [style.top.px]="firstSelected.coordinate.y"
         [style.width.px]="firstSelected.coordinate.width - 12" class="flying-rename cursor-visible">
</div>
