
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 10px;
  //justify-content: safe center;
}

table {
  margin: auto;
  background: white;
  //table-layout: fixed;
  position: relative;
  align-content: center;
  border-collapse: collapse;
}
th, td,
{
  min-height: 50px;
  padding: 0.25em;
  //min-width: 200px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.bin-button:focus-visible {
  outline: none !important;
}

td {
  padding-left: 10px;
}

.no-border {
  border-right: 1px solid white;
  //border-right: 1px solid #eff2ff;
}

th {
  position: sticky;
  left: 0;
  top: 0;
  background: #f2f2f2;

}

.rows {
  z-index: 1000;
  margin-right: 20px;
}

.columns {
  text-align: left;
  padding-left: 10px;
}

.delete-col-button {
  height: 25px;
  width: 25px;
}
//.firstSelected {
//  box-shadow:0px 0px 0px 1px darkblue inset;
//  border: 1px solid darkblue;
//}

.selected {
  background: rgba(14, 101, 235, 0.1);
}

input {
  background: white;
  z-index: 2000;
  box-shadow:0px 0px 0px 2px rgb(14, 101, 235) inset;
  border: 2px solid rgb(14, 101, 235);
  padding-left: 10px;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;

  font: 400 14px / 20px Roboto, "Helvetica Neue", sans-serif !important;
}


.flying-rename {
  position: absolute;
  margin: 0;
  border: 0;
}

.chosen-th {
  background-color: #e2e2e5;
}

.cursor-transparent {
  caret-color: transparent;
}

.cursor-visible {
  caret-color: black;
}

