.param-line {
  box-shadow: rgba(var(--outline-variant), 0.7) -2px 3px 4px 0;
  padding: 0 25px;
  margin-top: 14px;
  background-color: rgba(var(--outline-variant), 0.1);
}

.grey-border {
  border-top: 1px solid var(--outline-variant);
}

.margin-top-20 {
  margin-top: 20px;
}
