.nav-button-margin {
  margin: 20px;
}

::ng-deep .mat-vertical-content {
  padding-right: 58px !important;
}

::ng-deep .mat-content {
  height: 100% !important;
}

.saved {
  height: 100%;
  visibility: hidden;
  margin-right: 24px;
  width: 0px;
  color: var(--surface);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  transition: visibility .5s, width .5s;
  opacity: 0;
}

.flex {
  display: flex;
}

.border-blue-left {
  &:hover .saved {
    background-color: var(--primary);
    visibility: visible;
    opacity: 1;
  }
  border-left: 5px solid var(--primary);
  border-radius: 4px;
}

.border-grey-left {
   &:hover .saved {
     background-color: var(--outline-variant);
     visibility: visible;
     opacity: 1;
   }
  border-left: 5px solid var(--outline-variant);
  border-radius: 4px;
}

.padding-left-zero {
  padding-left: 0px !important;
}

.border-blue-left:hover .saved, .border-grey-left:hover .saved {
  visibility: visible;
  width: 100px;
}

