mat-grid-list {
  margin-bottom: 2px
}

mat-grid-tile {
  //background: rgba($grey, 1);
  opacity: 0.4;
}

.flex-parameter-container {
  display: flex;
}

//.grid-container {
//  display: grid;
//  grid-template-columns: auto auto;
//  justify-content: space-between;
//  align-items: center;
//  grid-template-rows: 70px;
//  flex-wrap: wrap;
//}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 70px;
}

i {
  //color: rgba($grey, 1);
  margin-left: 8px;
  vertical-align: middle;
}
