<div [formGroup]="frmStepOne" class="stepper">
  <div class="flex-container flex-center">
    <div class="container">
      <mat-accordion multi="false">

        <div *ngFor="let method of methodService.methods; let i = index">
          <gsa-method *ngIf="i === 0 else margin" [method]="method"></gsa-method>
          <ng-template #margin>
            <div class="expansion-panel-margin">

              <gsa-method [method]="method"></gsa-method>
            </div>
          </ng-template>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>

<!--<div *ngIf="true" class="flex-analysis-container horizontal">-->
<!--  <mat-card style="width: 40%">-->
<!--    <h2>Analysis:</h2>-->
<!--    <div class="material-icons" style=" color: rgb(0, 128, 55); font-size: 25px;">check_circle</div>-->
<!--    <div>Analysis loaded</div>-->
<!--    <a href="test" target="_blank">Click to visualise the result of the Gene Set Analysis</a>-->
<!--  </mat-card>-->

<!--  <mat-card *ngIf="true" style="width: 40%">-->
<!--    <h2>Reports:</h2>-->
<!--    <div class="material-icons" style=" color: rgb(0, 128, 55); font-size: 25px;">check_circle</div>-->
<!--    <div>Report loaded</div>-->
<!--    <div>-->
<!--      <a href="testttt" target="_blank">name1</a>-->
<!--    </div>-->
<!--    <div>-->
<!--      <a href="testttt" target="_blank">name1</a>-->
<!--    </div>-->
<!--    <div>-->
<!--      <a href="testttt" target="_blank">name1</a>-->
<!--    </div>-->

<!--  </mat-card>-->
<!--</div>-->


<!--<gsa-table [userSettings]="settings"></gsa-table>-->
