<!--<div class="table-conatainer">-->
<!--  <hot-table [id]="ids" [settings]="settings"></hot-table>-->
<!--  <input #flyingRename class="flying-rename" (change)="renameColumn()" (blur)="renameColumn()"-->
<!--         *ngIf="flyingVisible" [(ngModel)]="flyingValue"-->
<!--         [style.left.px]="flyingCoords.left" [style.top.px]="flyingCoords.top"-->
<!--         [style.width.px]="flyingCoords.width - 8" [style.height.px]="flyingCoords.height - 5">-->
<!--</div>-->
<!--<button (click)="addColumn()">Click me</button>-->


<div [formGroup]="frmStepOne" class="stepper">
  <h1>Step 1: Select one of the available analysis methods</h1>
  <div class="container">
    <div *ngFor="let method of methods$ | async">
      <gsa-method [method]="method"></gsa-method>
    </div>
    <button mat-raised-button color="accent" matStepperNext [disabled]="methodService.selectedMethod === undefined">
      Continue
    </button>
  </div>
</div>
