
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$reactome-primary-color: (
  50 : #e3eff7,
  100 : #b9d8ec,
  200 : #8bbee0,
  300 : #5da4d3,
  400 : #3a91c9,
  500 : #177dc0,
  600 : #1475ba,
  700 : #116ab2,
  800 : #0d60aa,
  900 : #074d9c,
  A100 : #c9dfff,
  A200 : #96c1ff,
  A400 : #63a4ff,
  A700 : #4995ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$reactome-secondary-color: (
  50 : #f7ebe3,
  100 : #ecceb9,
  200 : #e0ad8b,
  300 : #d38c5d,
  400 : #c9743a,
  500 : #c05b17,
  600 : #ba5314,
  700 : #b24911,
  800 : #aa400d,
  900 : #9c2f07,
  A100 : #ffd4c9,
  A200 : #ffac96,
  A400 : #ff8463,
  A700 : #ff7049,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);





// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gsa-frontend-primary: mat.define-palette($reactome-primary-color);
$gsa-frontend-accent: mat.define-palette($reactome-primary-color, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gsa-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gsa-frontend-theme: mat.define-light-theme((
  color: (
    primary: $gsa-frontend-primary,
    accent: $gsa-frontend-accent,
    warn: $gsa-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gsa-frontend-theme);

