/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~handsontable/dist/handsontable.full.css';

html, body {
  height: 100%;
}

body {
  margin: 40px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f5fb;
}

h1 {
  margin-bottom: 10px;
}

textarea {
  height: 12px;
}

.stepper {
  background-color: #f2f5fb;
}
