h2 {
  text-align: center;
  white-space: nowrap;
}

.margin-bottom-10 {
  margin-bottom: 7px !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.flex-one {
  flex-basis: 250px;
}
