.no-wrap {
  white-space: nowrap;
}

snack-bar-container {
  width: fit-content !important;
  max-width: 100% !important;
}


.mat-snack-bar-container {
  max-width: 100% !important;
}

.orange {
  //color: $warning;
}

.warning-size {
  font-size: 50px;
}

.black {
  color: black;
}

.red {
  color: red;
}
