
.center-vertical {
  min-height: calc(100vh - 200px);
  max-width: 70%;
  overflow: auto;
}

.nav-button-container {
  min-width: 10%;

  button {
    position: fixed;
    top: calc(50vh - 12px);
  }
}

.fixed-center-position {
  position: fixed;
  top: calc(50% + 20px);
  transform: translateY(-50%);
}

