<div class="grid-container">
  <div class="flex-container flex-center horizontal">
    <span> {{parameter.display_name}}</span>
    <i class="material-icons" matTooltip="{{parameter.description}}">info_outline</i>
  </div>
  <div>
    <span *ngIf="parameter.values !== undefined; else inputField" class="float-right">
      <mat-form-field>
        <mat-select style="padding-top: 10px" [(ngModel)]="parameter.value">
          <mat-option *ngFor="let value of parameter.values" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <ng-template #inputField>
    <span [ngSwitch]="parameter.type" class="float-right">
      <ng-template [ngSwitchCase]="types.bool">
        <mat-slide-toggle [(ngModel)]="parameter.value" color="primary"></mat-slide-toggle>
      </ng-template>
      <ng-template [ngSwitchCase]="types.string">
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="parameter.value" type="text"></textarea>
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.float">
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="parameter.value" type="number" step="0.1">
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.int">
        <mat-form-field class="example-full-width">
          <textarea matInput [(ngModel)]="parameter.value" type="number"></textarea>
        </mat-form-field>
      </ng-template>
    </span>
    </ng-template>
  </div>
</div>
