<div [ngClass]="{'no-information': screenIsSmall, 'information': !screenIsSmall}"
     class="grid-container">
  <!--  'background-grey': index % 2 === 1-->
  <i *ngIf="!screenIsSmall" class="material-icons grey" matTooltip="{{parameter.description}}">info_outline</i>
  <div *ngIf="screenIsSmall" matTooltip="{{parameter.description}}">{{parameter.display_name}}</div>
  <div *ngIf="!screenIsSmall">{{parameter.display_name}}</div>
  <div class="align-center justify-end">
    <div *ngIf="parameter.values !== undefined; else inputField">
      <mat-form-field appearance="outline" class="background-white" subscriptSizing="dynamic">
        <mat-select [(ngModel)]="parameter.value">
          <mat-option *ngFor="let value of parameter.values" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-template #inputField>
    <span [ngSwitch]="parameter.type">
      <ng-template [ngSwitchCase]="types.bool">
        <mat-slide-toggle [(ngModel)]="parameter.value" color="primary"></mat-slide-toggle>
      </ng-template>
      <ng-template [ngSwitchCase]="types.string">
        <mat-form-field appearance="outline" class="background-white" subscriptSizing="dynamic">
          <input [(ngModel)]="parameter.value" matInput type="text">
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.email">
        <mat-form-field appearance="outline" class="background-white" subscriptSizing="dynamic">
          <input (input)="setValue($event, parameter)" [errorStateMatcher]="matcher" [formControl]="emailFormControl"
                 matInput
                 type="email">
                    <mat-error *ngIf="emailFormControl.hasError('email')">
                      Please enter a valid email address
                    </mat-error>
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.float">
        <mat-form-field appearance="outline" class="background-white" subscriptSizing="dynamic">
            <input [(ngModel)]="parameter.value" matInput step="0.1" type="number">
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.int">
        <mat-form-field appearance="outline" class="background-white" subscriptSizing="dynamic">
          <input [(ngModel)]="parameter.value" matInput type="number">
        </mat-form-field>
      </ng-template>
    </span>
    </ng-template>
  </div>
</div>
