<div *ngrxLet="screenIsSmall$ as screenIsSmall" class="grid-container"
     [ngClass]="{'no-information': screenIsSmall, 'information': !screenIsSmall}">
  <!--  'background-grey': index % 2 === 1-->
  <i *ngIf="!screenIsSmall" class="material-icons grey" matTooltip="{{parameter.description}}">info_outline</i>
  <div *ngIf="screenIsSmall" matTooltip="{{parameter.description}}">{{parameter.display_name}}</div>
  <div *ngIf="!screenIsSmall">{{parameter.display_name}}</div>
  <div class="align-center justify-end">
    <div *ngIf="parameter.values !== undefined; else inputField">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select [ngModel]="parameter.value" (ngModelChange)="update($event)">
          <mat-option *ngFor="let value of parameter.values" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-template #inputField>
    <span [ngSwitch]="parameter.type">
      <ng-template [ngSwitchCase]="types.bool">
        <mat-slide-toggle [ngModel]="parameter.value" [ngModelOptions]="options" (ngModelChange)="update($event)"
                          color="primary"></mat-slide-toggle>
      </ng-template>
      <ng-template [ngSwitchCase]="types.string">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input #input [ngModel]="parameter.value" [ngModelOptions]="options" (change)="update(input.value)" matInput
                 type="text">
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.email">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input [formControl]="control" matInput type="email">
            <mat-error *ngIf="control.invalid">
              Please enter a valid email address
            </mat-error>
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.float">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input [ngModel]="parameter.value" [ngModelOptions]="options" (ngModelChange)="update($event)" matInput
                   step="0.1" type="number">
        </mat-form-field>
      </ng-template>
      <ng-template [ngSwitchCase]="types.int">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input [ngModel]="parameter.value" [ngModelOptions]="options" (ngModelChange)="update($event)" matInput
                 type="number">
        </mat-form-field>
      </ng-template>
    </span>
    </ng-template>
  </div>
</div>
