.content-height {
  min-height: 50vh;
}

.progress-height {
  height: 10px;
}

h2 {
  margin: 0px
}

.big-error {
  font-size: 60px;
}

.description-height {
  min-height: 20px;
}

mat-card-footer {
  margin-top: 30px !important;
}

.flex-twelve {
  flex: 12;
}
