mat-expansion-panel-header {
  min-height: 48px !important;
  height: 100% !important;
}

mat-expansion-panel {
  border: 5px solid inherit;
  border-radius: 5px;

  &.chosen {
    border: 5px solid var(--primary);

    &:hover {
      cursor: pointer;
    }
  }
}

.grey-border {
  border-top: 1px solid var(--outline-variant);
}

.param-line {
  padding: 0 25px;
  margin-top: 14px;
}

.margin-top-20 {
  margin-top: 20px;
}

