<mat-expansion-panel *ngrxLet="selected$ as selected"
  (closed)="updateScroll()" (opened)="updateScroll()"
  [ngClass]="{'chosen': selected}"
  [expanded]="(selected$ | async) === true"
  hideToggle class="mat-elevation-z3">
  <mat-expansion-panel-header (click)="selectMethod()">
    <mat-panel-title class="bold">
      {{method.name}}
    </mat-panel-title>

    <mat-panel-description>
      {{method.description}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="parameters$ | async as params" class="grey-border flex-container vertical align-center justify-center">
    <div *ngFor="let param of params; let i = index" class="param-line width-eighty">
      <gsa-method-parameter [index]="i" [parameter]="param"/>
    </div>
    <button (click)="setToDefault(params)" class="margin-top-20" color="primary" mat-raised-button>Reset</button>
  </div>

</mat-expansion-panel>

