<mat-expansion-panel
  (click)="selectMethod()"
  [ngClass]="analysisMethodService.selectedMethod?.name === method.name ? 'chosen': 'unchosen'" class="panel-header"
  expanded="false"
  hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title class="bold">
      {{method.name | titlecase}}
    </mat-panel-title>
    <mat-panel-description>
      {{method.description}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="grey-border">
    <div *ngFor="let param of getDisplayParameters(); let i = index">
      <gsa-method-parameter [index]="i" [parameter]="param"></gsa-method-parameter>
    </div>
  </div>
</mat-expansion-panel>

<!--<mat-card [class.chosen]="methodService.selectedMethod === method" (click)="selectMethod()">-->
<!--  <mat-card-title>{{method.name | titlecase}}</mat-card-title>-->
<!--  <mat-card-content>{{method.description}}</mat-card-content>-->
<!--  <mat-card-actions align="end">-->
<!--    <button mat-raised-button color="primary" (click)="toggleConfiguration()">Configure</button>-->
<!--&lt;!&ndash;    <button mat-raised-button color="primary" (click)="selectMethod()">Choose</button>&ndash;&gt;-->
<!--  </mat-card-actions>-->
<!--  <div *ngIf="this.showConfig">-->
<!--    &lt;!&ndash;    The whole "isLast thing with all the ifs is just there to not have a last border-bottom&ndash;&gt;-->
<!--    <div *ngFor="let param of getDisplayParameters(); last as isLast" class="show-param">-->
<!--      <gsa-method-parameter [parameter]="param"></gsa-method-parameter>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-card>-->
