<mat-card>
  <mat-card-title>{{method?.name | titlecase}}</mat-card-title>
  <mat-card-content>{{method?.description}}</mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="toggleConfiguration()">Configure</button>
    <button mat-raised-button color="accent" (click)="selectMethod()">Continue</button>

  </mat-card-actions>
  <div *ngIf="this.showConfig">
    <div *ngFor="let param of method?.parameters">
      <gsa-parameter *ngIf="param.scope != 'common'" class="param" [paramDef]="param"></gsa-parameter>
    </div>
  </div>
</mat-card>
