@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  //$neutral-palette: map.get($color-config, 'neutral');

  .border-blue-left {
    border-left: 5px solid mat.get-color-from-palette($primary-palette, 400);
  }

  .border-grey-left {
    //border-left: 5px solid mat.get-color-from-palette($neutral-palette, 400);
  }

}


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
