<mat-expansion-panel hideToggle [expanded]="true" #mep="matExpansionPanel">
  <mat-expansion-panel-header>
    <div class="italic" *ngIf="analysisObject.dataset === undefined; else title">New Dataset</div>
    <ng-template #title>
      <div class="container-expansion-title full-width horizontal">
        <div class="flex-data-container vertical">
          <span class="bold">{{analysisObject.dataset?.title}}</span>
          <span *ngIf="analysisObject.statisticalDesign?.analysisGroup"> {{analysisObject.statisticalDesign?.analysisGroup}} :
            <span *ngIf="analysisObject.statisticalDesign?.comparisonGroup1">
                  {{analysisObject.statisticalDesign?.comparisonGroup1}}
              vs. {{analysisObject.statisticalDesign?.comparisonGroup2}}
          </span></span>
        </div>
        <button *ngIf="analysisObject.saved" mat-icon-button color="primary" (click)="deleteDataset()"
                aria-label="Example icon button with a vertical three dot icon"><span
          class="material-icons">delete</span>
        </button>
      </div>
    </ng-template>
  </mat-expansion-panel-header>

  <mat-vertical-stepper #nestedStepper linear>
    <mat-step [stepControl]="form2_1" #select completed="false">
      <ng-template matStepLabel>Select a dataset</ng-template>
      <div class="flex-container flex-center vertical">
        <gsa-select-dataset [analysisObject]="analysisObject"
                            *ngIf="nestedStepper.selected == null || nestedStepper.selected == select"></gsa-select-dataset>
        <button mat-fab color="accent" (click)="nextStep()"
                [disabled]="analysisObject.datasetTable === undefined">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="form2_2" #annotate completed="false">
      <ng-template matStepLabel>Annotate your dataset</ng-template>
      <div class="flex-container flex-center vertical">
        <button class="nav-btn-margin" mat-fab color="accent" matStepperPrevious>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <gsa-annotate-dataset class="full-width" [analysisObject]="analysisObject"
                              *ngIf="nestedStepper.selected == annotate"></gsa-annotate-dataset>
        <button class="nav-btn-margin" mat-fab color="accent" (click)="nextStep(); statisticalDesignValid()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="form2_3" #statistic completed="false">
      <ng-template matStepLabel>Statistical Design</ng-template>
      <div class="flex-container flex-center vertical">
        <button class="nav-btn-margin" mat-fab color="accent" matStepperPrevious>
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <gsa-statistical-design class="full-width" [analysisObject]="analysisObject"
                                *ngIf="nestedStepper.selected == statistic"></gsa-statistical-design>
        <button class="nav-btn-margin" mat-raised-button color="accent"
                (click)="saveData(); nestedStepper.selected = annotate; mep.expanded = false;"
                [disabled]="this.analysisObject.statisticalDesign?.analysisGroup === undefined || this.analysisObject.statisticalDesign?.comparisonGroup1 === undefined || this.analysisObject.statisticalDesign?.comparisonGroup2 === undefined">
          Save Dataset
        </button>
<!--        {{this.analysisObject.statisticalDesign?.comparisonGroup1}}-->
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-expansion-panel>
