@use "sass:map";
@use "@angular/material/core/theming/palette";

$primary-colors: (
  002: #ffffff,
  010: #fafdff,
  050: #dff4ff,
  100: #baeaff,
  200: #5cd4ff,
  300: #20b9e5,
  400: #009dc4,
  500: #0081a2,
  600: #006782,
  700: #004d62,
  800: #003545,
  900: #001f29,
  950: #0D1617,
  1000: #000000,
  contrast: (
    002: #000000,
    010: #000000,
    050: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    950: #ffffff,
    990: #ffffff,
    1000: #ffffff
  )
);

$secondary-colors: (
  002: #ffffff,
  010: #fafdff,
  050: #dff4ff,
  100: #baeaff,
  200: #5cd4ff,
  300: #20b9e5,
  400: #009dc4,
  500: #0081a2,
  600: #006782,
  700: #004d62,
  800: #003545,
  900: #001f29,
  950: #0D1617,
  1000: #000000,
  contrast: (
    002: #000000,
    050: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    950: #ffffff,
    990: #ffffff,
    1000: #ffffff
  )
);

$tertiary-colors: (
  002: #ffffff,
  010: #FDFCFF,
  050: #EAF1FF,
  100: #d3e4ff,
  200: #a3c9ff,
  300: #74aef8,
  400: #5793db,
  500: #3a79c0,
  600: #1660a5,
  700: #004882,
  800: #00315c,
  900: #001c38,
  950: #0D1317,
  1000: #000000,
  contrast: (
    002: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    950: #ffffff,
    990: #ffffff,
    1000: #ffffff
  )
);

$neutral-colors: (
  002: #ffffff,
  010: #FAFDFF,
  050: #D0F8FF,
  100: #a6eeff,
  200: #53d7f1,
  300: #29bbd5,
  400: #009fb6,
  500: #008396,
  600: #006878,
  700: #004e5b,
  800: #00363f,
  900: #001f25,
  950: #001013,
  1000: #000000,
  contrast: (
    002: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    950: #fff,
    990: #fff,
    1000: #fff
  )
);

$neutral-variant-colors: (
  002: #ffffff,
  010: #FAFDFF,
  050: #EAF2F7,
  100: #E9F2F6,
  200: #c0c8cc,
  300: #a4acb1,
  400: #8a9296,
  500: #70787d,
  600: #576064,
  700: #40484c,
  800: #2a3235,
  900: #151d20,
  1000: #000000,
  contrast: (
    002: #000,
    010: #000,
    050: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    1000: #fff
  )
);

$error-colors: (
  002: #ffffff,
  010: #FFFBFF,
  050: #FFEDEA,
  100: #FFEDEA,
  200: #FFC7C2,
  300: #FFA19A,
  400: #FF7A71,
  500: #ff5449,
  600: #de3730,
  700: #ba1a1a,
  800: #93000a,
  900: #690005,
  1000: #410002,
  contrast: (
    002: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    950: #fff,
    990: #fff,
    1000: #fff
  )
);

// Background palette for dark themes.
$dark-theme-background-palette: (
  status-bar: black,
  app-bar: map.get($neutral-colors, 900),
  background: map.get($neutral-colors, 950),
  hover: rgba(white, 0.04),
  card: map.get($neutral-colors, 800),
  dialog: map.get($neutral-colors, 900),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get($neutral-colors, 800),
  focused-button: palette.$light-focused,
  selected-button: map.get($neutral-colors, 900),
  selected-disabled-button: map.get($neutral-colors, 800),
  disabled-button-toggle: black,
  unselected-chip: map.get($neutral-colors, 700),
  disabled-list-option: rgba(white, 0.12),
  tooltip: map.get($neutral-colors, 700),
);

// Foreground palette for dark themes.
$dark-theme-foreground-palette: (
  base: white,
  divider: palette.$light-dividers,
  dividers: palette.$light-dividers,
  disabled: palette.$light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: palette.$light-disabled-text,
  elevation: map.get($primary-colors, 200),
  hint-text: palette.$light-disabled-text,
  secondary-text: palette.$light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);
