$primary-colors: (
  000: #000000,
  050: #0D1617,
  100: #001f29,
  200: #003545,
  300: #004d62,
  400: #006782,
  500: #0081a2,
  600: #009dc4,
  700: #20b9e5,
  800: #5cd4ff,
  900: #baeaff,
  950: #dff4ff,
  990: #fafdff,
  1000: #ffffff,
  contrast: (
    000: #ffffff,
    050: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #000000,
    800: #000000,
    900: #000000,
    950: #000000,
    990: #000000,
    1000: #000000
  )
);

$secondary-colors: (
  000: #000000,
  050: #0D1617,
  100: #001f29,
  200: #003545,
  300: #004d62,
  400: #006782,
  500: #0081a2,
  600: #009dc4,
  700: #20b9e5,
  800: #5cd4ff,
  900: #baeaff,
  950: #dff4ff,
  990: #fafdff,
  1000: #ffffff,
  contrast: (
    000: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #000000,
    800: #000000,
    900: #000000,
    950: #000000,
    990: #000000,
    1000: #000000
  )
);

$tertiary-colors: (
  000: #000000,
  050: #0D1317,
  100: #001c38,
  200: #00315c,
  300: #004882,
  400: #1660a5,
  500: #3a79c0,
  600: #5793db,
  700: #74aef8,
  800: #a3c9ff,
  900: #d3e4ff,
  950: #EAF1FF,
  990: #FDFCFF,
  1000: #ffffff,
  contrast: (
    000: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    950: #000000,
    990: #000000,
    1000: #000000
  )
);

$neutral-colors: (
  000: #000000,
  100: #001f25,
  200: #00363f,
  300: #004e5b,
  400: #006878,
  500: #008396,
  600: #009fb6,
  700: #29bbd5,
  800: #53d7f1,
  900: #a6eeff,
  950: #D0F8FF,
  990: #FAFDFF,
  1000: #ffffff,
  contrast: (
    000: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    950: #000000,
    990: #000000,
    1000: #000000
  )
);

$neutral-variant-colors: (
  000: #000000,
  100: #151d20,
  200: #2a3235,
  300: #40484c,
  400: #576064,
  500: #70787d,
  600: #8a9296,
  700: #a4acb1,
  800: #c0c8cc,
  900: #E9F2F6,
  950: #EAF2F7,
  990: #FAFDFF,
  1000: #ffffff,
  contrast: (
    000: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    950: #000000,
    990: #000000,
    1000: #000000
  )
);

$error-colors: (
  000: #410002,
  100: #690005,
  200: #93000a,
  300: #ba1a1a,
  400: #de3730,
  500: #ff5449,
  600: #ff897d,
  700: #ffb4ab,
  800: #ffdad6,
  900: #ffedea,
  950: #FFEDEA,
  990: #FFFBFF,
  1000: #ffffff,
  contrast: (
    000: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    950: #000000,
    990: #000000,
    1000: #000000
  )
);
