<mat-horizontal-stepper #stepper [linear]="true" *ngrxLet="{
reportsRequired: reportRequired$,
allSaved: allSaved$,
method: selectedMethod$,
methodSelected: methodSelected$,
parameters: methodParameters$,
datasets: datasets$,
datasetIds: datasetIds$
} as vm" (selectionChange)="stepChange($event, vm)" class="flex-container" [ngClass]="{'no-tour': !tour.on}" [animationDuration]="tour.on ? '0' : '500'">
  <mat-step #setMethodStep [completed]="vm.methodSelected" class="flex-one">

    <ng-template matStepLabel>Select method</ng-template>
    <h1 *ngIf="height.medium$ | async">Step 1: Select one of the available analysis methods</h1>

    <div class="flex-container horizontal gap-one justify-evenly">
      <div class="nav-button-container"></div>
      <gsa-scrollable class="width-seventy" name="method">
        <gsa-analysis-methods class="width-hundred "></gsa-analysis-methods>
      </gsa-scrollable>

      <div class="nav-button-container align-center flex-container justify-center vertical">
        <button [disabled]="!setMethodStep.completed" class="margin-top-30" color="primary"
                mat-fab matStepperNext tourAnchor="method.done">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <div class="outline margin-top-10">Continue</div>
      </div>
    </div>
  </mat-step>


  <mat-step #addDataStep [completed]="vm.allSaved">
    <ng-template matStepLabel>Add datasets</ng-template>
    <h1 *ngIf="height.medium$ | async">Step 2: Add and annotate your datasets</h1>
    <div class="flex-container horizontal gap-one justify-evenly" *ngIf="vm.method">
      <div class="nav-button-container align-center flex-container justify-center vertical">
        <button class="margin-top-30" color="primary" mat-fab matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="outline margin-top-10">Back</div>
      </div>
      <gsa-scrollable #scrollable [bottomMargin]="57" class="width-seventy" name="dataset">
        <mat-accordion (change)="scrollable.updateShadows()"
                       class="width-hundred flex-container no-wrap justify-center vertical gap-one"
                       multi="false">
          <div *ngFor="let id of vm.datasetIds; let i = index ">
            <gsa-dataset-form [datasetId]="id" [method]="vm.method"
                              [ngClass]="{'width-hundred': i === 0}"></gsa-dataset-form>
          </div>
        </mat-accordion>
        <div class="margin-top-30">
          <button (click)="addDataset()" class="primary-border" color="primary" tourAnchor="dataset.add"
                  mat-stroked-button style="background: var(--surface)">
            Add Dataset
          </button>
        </div>
      </gsa-scrollable>

      <div class="nav-button-container align-center flex-container justify-center vertical">
        <button [disabled]="!addDataStep.completed" class="margin-top-30"
                color="primary"
                mat-fab tourAnchor="dataset.done"
                matStepperNext>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <div class="outline margin-top-10">Continue</div>
      </div>

    </div>

  </mat-step>
  <mat-step #optionStep>
    <ng-template matStepLabel>Options</ng-template>
    <h1 *ngIf="height.medium$ | async">Step 3: Analysis Options</h1>
    <div class="flex-container horizontal gap-one justify-evenly" *ngIf="vm.method">
      <div class="nav-button-container align-center justify-center flex-container vertical">
        <button class="margin-top-30" color="primary" mat-fab matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="outline margin-top-10">Back</div>
      </div>
      <gsa-scrollable [bottomMargin]="57" class="width-seventy" name="options">
        <gsa-options class="width-hundred" [method]="vm.method"></gsa-options>
      </gsa-scrollable>
      <div class="nav-button-container align-center justify-center flex-container vertical">
        <button class="margin-top-30" color="primary" mat-fab matStepperNext tourAnchor="options.done">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <div class="outline margin-top-10">Continue</div>
      </div>
    </div>
  </mat-step>


  <mat-step #analysisStep>
    <ng-template matStepLabel>Analysis</ng-template>
    <h1 *ngIf="height.medium$ | async">Step 4: Analysis</h1>
    <div class="flex-container horizontal gap-one justify-evenly">
      <div class="nav-button-container align-center justify-center flex-container vertical">
        <button class="margin-top-30" color="primary" mat-fab matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="outline margin-top-10">Back</div>
      </div>
      <gsa-scrollable [bottomMargin]="57" innerClasses="height-hundred" class="width-seventy" name="results">
        <gsa-analysis class="width-hundred height-hundred" [setMethodStep]=setMethodStep tourAnchor="results"></gsa-analysis>
      </gsa-scrollable>
      <div class="nav-button-container align-center justify-center flex-container"></div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
